* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

#r1,
#r2,
#r3,
#r4 {
    height: 10em;
}

#r1 {
    background-color: lightblue;
    flex-direction: column;
    justify-content: flex-end;
}

#r3,
#r5 {
    background-color: lightgray;
}

#r6,
#r7 {
    background-color: black;
}

#r5 {
    height: 20em;
}

#r6 {
    height: 15em;
    border-bottom: solid 1px white;
}

#r7 {
    height: 5em;
}

#r1-1,
#r1-2 {
    display: flex;
}

#r1-1 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#r1-2 {
    background-color: blue;
    flex-basis: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
}

.row {
    display: flex;
}

.text {
    background-color: goldenrod;
   
}
#logo, #login{
    width: 6em;
}
#link{
    width: 12em;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
}
#logo{
    display: flex;
    padding-left: .5em;
}
#login{
    display: flex;
    justify-content: flex-end;
    padding-right: .5em;
}
#pink-square {
    background-color: palevioletred;
    width: 15em;
    height: 6em;
}
.dashed{
     border-style: dashed;
}